
/* NAVIGATION BAR STYLING */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke
}

/* NAVIGATION BAR STYLING - Left section */

.header_left{
    display: flex;
    align-items: center;
}

.header_left > img{
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

/* NAVIGATION BAR STYLING - Middle section */

.header_middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.header_middle > .MuiSvgIcon-root{
    color: gray;
}

.header_middle > input{
    border: none;
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: transparent;
    outline: none;
}


/* NAVIGATION BAR STYLING - Right section */
.header_right{
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
}